<div class="container-fluid">
  <div class="container-login">
      <h2>Welcome back</h2>
      <p class="subheading">It looks like you’re already using MarketMeter.</p>
        <div class="login-container">
            <div class="emailcontent">
                <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <div class="emaillabel-login">
                      <label>Email Address</label>
                      <input formControlName="email" placeholder="Enter your email address" class="form-control form-control-lg" type="text" />
                      <ng-container *ngFor="let validation of validation_messages.email">
                          <div class="error-message" *ngIf="authForm.get('email').hasError(validation.type) && (authForm.get('email').touched || authForm.get('email').touched)">
                              {{ validation.message }}
                          </div>
                      </ng-container>
                    </div>
                    <div class="emailbtn-login">
                      <button class="btn btn-primary btnlg signup-btn" [disabled]="!authForm.valid" type="submit">Continue with this email Id</button>
                    </div>
                </form>
            </div>
        </div>
      <div class="linksignin">
        <p routerLink="/"><a href="javascript:void();">Create account with a new user</a></p>
      </div>
  </div>
</div>
  