/*Avenir Book Font Start*/
@font-face 
{
    font-family: 'avenir_45_bookregular';
    src: url(/../../assets/fonts/avenir-book/avenir-book-webfont.eot);
    src: url(/../../assets/fonts/avenir-book/avenir-book-webfont.eot?#iefix) format('embedded-opentype'),
        url(/../../assets/fonts/avenir-book/avenir-book-webfont.woff2) format('woff2'),
        url(/../../assets/fonts/avenir-book/avenir-book-webfont.woff) format('woff'),
        url(/../../assets/fonts/avenir-book/avenir-book-webfont.svg#avenir_45_bookregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Avenir Book Font Close*/

/*Avenir Next LT Pro Demi Font Start*/
@font-face {
    font-family: 'AvenirNextLTProDemi';
    src: url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.eot);
    src: url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.eot) format('embedded-opentype'),
         url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.woff2) format('woff2'),
         url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.woff) format('woff'),
         url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.ttf) format('truetype'),
         url(/../../assets/fonts/avenirnextltprodemi/AvenirNextLTProDemi.svg#AvenirNextLTProDemi) format('svg');
}
/*Avenir Next LT Pro Demi Font Close*/

/*Avenir Next LT Pro Regular Font Start*/
@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.eot);
    src: url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.eot) format('embedded-opentype'),
         url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.woff2) format('woff2'),
         url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.woff) format('woff'),
         url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.ttf) format('truetype'),
         url(/../../assets/fonts/avenirnextltproregular/AvenirNextLTProRegular.svg#AvenirNextLTProRegular) format('svg');
}
/*Avenir Next LT Pro Regular Font Close*/

@font-face {
    font-family: 'arialregular';
    src: url(/../../assets/fonts/arial/arial-webfont.eot);
    src: url(/../../assets/fonts/arial/arial-webfont.eot?#iefix) format('embedded-opentype'),
         url(/../../assets/fonts/arial/arial-webfont.woff2) format('woff2'),
         url(/../../assets/fonts/arial/arial-webfont.woff) format('woff'),
         url(/../../assets/fonts/arial/arial-webfont.ttf) format('truetype'),
         url(/../../assets/fonts/arial/arial-webfont.svg#arialregular) format('svg');
    font-weight: normal;
    font-style: normal;

}