<div class="container-fluid">
    <div class="progressbar-section">
        <ul>
          <li class="inactive active">
            <span>01</span>
          </li>
          <li class="inactive">
              <span>02</span>
          </li>
          <li class="inactive">
              <span>03</span>
          </li>
          <li class="inactive">
              <span>04</span>
            </li>
            <li class="inactive">
                <span>05</span>
            </li>
            <li class="inactive">
                <span>06</span>
            </li>
        </ul>
        <div class="btnnextpre section-next">
            <button type="button" (click)= "submitForm()"></button>
        </div>
    </div>
    <div class="row pagetitle-inner">
      <div class="col-md-12">
          <h2>Please Select Your Sector Coverage</h2>
      </div>
    </div>
    <div class="content-wrapper shadowfour stockcoverage">
        <div class="row">
            <div class="col-md-12 stockList-section" *ngFor="let stockList of stockcoverageList">
                <div class="col-md-3 stockcoverage-q">
                    <h3> {{stockList.questions}}</h3>
                </div>
                <div class="col-md-9 stockcoverage-checkbox">
                    <ul>
                        <li class="col-md-4" *ngFor="let filter of stockList.filters">
                            <input class="form-check-input"  name="{{ filter.name }}" type="checkbox" id="{{filter._id}}" [checked]="setFilters[filter.type].indexOf(filter._id) > -1 ? true : false" (change)="onChangeFilter($event, filter)"/>
                            <label for="{{filter._id}}">{{filter.title}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 btnstyle">
                <button type="button" (click)= "submitForm()" class="btn btn-primary btnlg" >Submit</button>
            </div>
        </div>
    </div>
</div>